*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;

}

/* Page */
.page {
  width: 62.5rem;
  margin: 4.06rem auto 0;
}

/* Nav */

nav{
  
  padding: 0.62rem;
  
  border: 1px solid;
  border-radius: 0.62rem;
  
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 3.43rem;
}

ul{
  list-style: none;
  
  display: flex;
  gap: 6.25rem;
}

ul li a {
  text-decoration: none;
  color: #1F1534;
}

ul li a:hover{
  font-weight: bold;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

/* Main */

h1 {
  font-size: 3.06rem;
  line-height: 3.5rem;
  color: #000000;
}

h1 span{

}